@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, .card, .btn {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --light-green: #A2D9A2;
  --dark-green: #124216;
  --text-color: #FFFFFF;
  --gold-color: #ffd700;
}


.merged-item-card .img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.card-header {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.btn-primary {
  background-color: #124216;
  border: none;
}


.comments-section {
  margin-top: 20px;
}

.comment-interaction{
  font-weight: normal;
}

.instagram-style-comment {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000000;
}

.comment-avatar {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 50%;
}

.comment-details {
  flex-grow: 1;
}

.comment-details strong {
  margin-right: 5px;
  color: #262626;
  font-weight: bold;
}


.comment-details span {
  color: #262626;
  display: block;
}

.comment-interaction {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-right: 5px;
  color: black;
}

.icon-button {
  background: none;
  border: #124216;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

.comment-divider {
  border-top: 1px solid #000000;;
  margin: 8px 0;
}

.merged-item-card .btn-primary {
  width: 100%;
  background-color: #124216;
}

.star-rating {
  color: var(--gold-color);
  font-size: 1.2rem;
}


.image-header {
  background-color: rgba(18, 66, 22, 0.9);
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.spotlight-title {
  font-size: 10rem;
  font-weight: bold;
  color: #124216;
  margin-bottom: 0.5rem;
}

.spotlight-description {
  font-size: 1.2rem;
  margin-top: 10px;
}


.btn .outline-primary {
  color: #124216;
  border-color: #124216;
}


.comments-card {
  width: 100%;
}

.spotlight-card, .comments-card {
  max-width: 100%;
}


.comment-interaction .icon-button,
.comment-interaction .emoji {
  margin-right: 4px;
}

.comment-interaction .likes,
.comment-interaction .comments {

}

.merged-item-card .btn-outline-primary {
  color: #124216;
  border-color: #124216;
}

.merged-item-card .btn-outline-primary:hover {
  color: #FFFFFF;
  background-color: #124216;
  border-color: #124216;
}


.spotlight-section .btn-outline-secondary {
  color: #124216;
  border-color: #124216;
}

.spotlight-section .btn-outline-secondary:hover {
  color: #FFFFFF;
  background-color: #124216;
  border-color: #124216;
}

.img-fluid {
  width: 50%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}

