@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body, .card, .btn {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --light-green: #A2D9A2;
  --dark-green: #124216;
  --text-color: #FFFFFF;
  --gold-color: #ffd700;
}

.navbar {
  background-color: var(--dark-green) !important;
}

body {
  background-color: var(--light-green) !important;
}


.card-header {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 0;
  margin-bottom: 0;
}

.btn-primary {
  background-color: var(--dark-green);
  border: none;
}

.comments-section {
  margin-top: 20px;
}

.instagram-style-comment {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-avatar {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 50%;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

.star-rating {
  color: var(--gold-color);
  font-size: 1.2rem;
}

.card-img-top, .img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 0;
  padding-top: 0;
}


.card-body {
  padding: 0;
}
.description-img {
  width: 55%;
  height: auto;
  align-content: center;

}

.like-button {
  background-color: transparent;
  color: var(--text-color);
  border-color: var(--dark-green);
}

.like-button.liked {
  color: var(--dark-green);
}

.spotlight-description-card .card-body {
  overflow-y: auto;
}

.comments-section {
  max-height: 300px;
  overflow-y: auto;
}

.spotlight-description-card .card-body {
  max-height: 700px;
  overflow: auto;
}

.btn-outline-primary {
  color: var(--text-color) !important;
  border-color: var(--dark-green) !important;
  background-color: var(--dark-green) !important;
}

.btn-outline-primary:hover {
  color: var(--text-color) !important;
  background-color: var(--dark-green) !important;
  border-color: var(--dark-green) !important;
}
.btn-primary {
  color: var(--text-color) !important;
  background-color: var(--dark-green) !important;
  border-color: var(--dark-green) !important;
}

.btn-primary:hover {
  color: var(--dark-green) !important;
  background-color: var(--light-green) !important;
  border-color: var(--dark-green) !important;
}


.spotlight-card-image {
  max-width: 50%;
  height: auto;
  object-fit: contain;
}

.description-map-image {
  max-width: 100%; /* ensures the image is not wider than its container */
  height: auto; /* maintains the aspect ratio of the image */
  max-height: 250px; /* reduces the maximum height of the image */
  object-fit: cover; /* ensures the image is scaled properly within its constraints */
  transition: transform 0.3s ease-in-out;
}

.description-map-image:hover {
  transform: scale(1.1); /* Adjust scale value as needed */
}


.section-header {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 0;
  margin: 20px 0;
  background-color: var(--dark-green);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.equal-height-cards .card {
  height: 100%;  /* Makes each card take full height of its parent column */
  display: flex;
  flex-direction: column; /* Ensures the card content is flexibly laid out */
}

.equal-height-cards .card-body {
  flex: 1;  /* Allows the card body to expand and fill available space */
}

.merge-card-img-top {
  max-width: 100%;        /* Ensure the image takes the full width of the card */
  height: 200px !important;      /* Fixed height for all images */
  object-fit: cover !important;  /* This will cover the area of the div without stretching the image */
}

.btn-outline-secondary {
  color: var(--text-color) !important;
  border-color: var(--dark-green) !important;
  background-color: var(--dark-green) !important;
}

.btn-outline-tirtiary {
  color: var(--text-color) !important;
  border-color: var(--dark-green) !important;
  background-color: var(--dark-green) !important;
  font-weight: bolder !important;
  font-size: larger !important;
}